<div class="card">
  <div class="card-header">
    Links
  </div>
  <div class="card-body">
  <a href="https://www.xm.com/cn/" target="_blank">xm</a> |  <a href="https://www.forexfactory.com/" target="_blank">forexfactory</a>
  </div>
</div>
